extends base
block content
    .container
        .row(ng-controller="indexCtrl")
            .col-xs-12
                table(ng-table="users" width="50%").table.table-inverse
                    tr(ng-repeat="user in $data")
                        td(title="'Id'" style="width: 10%;") {{ user.id }}
                        td(title="'Nome'" style="width: 60%;") {{ user.first_name | firstToUpper }} {{ user.last_name | justinitial }}
                        td(title="'Foto'" style="width: 30%;")
                            a(href="#")
                                img(src="{{ user.avatar }}" style="width: 60px;" ng-click="openModal(user)").img-circle

            .modal.fade(id="user-details" aria-hidden="true")
                .modal-dialog
                    .modal-content
                        .modal-header
                            h5.modal-title(style="align: center; font-weight: bold;") {{ modalUser.first_name | firstToUpper }} {{ modalUser.last_name | firstToUpper}}
                            button.close(type="button" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden="true") &times;
                        .modal-body
                            .row
                                .col-xs-4
                                    img(src="{{ modalUser.avatar }}").img.circle
                                .col-xs-8 Id: {{ modalUser.id }} <br> Name: {{ modalUser.first_name | firstToUpper }} {{ modalUser.last_name | firstToUpper}} <br>

                        .modal-footer
                            button.btn.btn-secondary(data-dismiss="modal") Fechar
    block scripts

        script.
            app.controller('indexCtrl', ['$scope', '$http', 'NgTableParams', function ($scope, $http, NgTableParams) {
                var path = '#{path}';
                $scope.modalUser = {};

                $scope.openModal= function (user) {
                    $scope.modalUser = user;

                    $('#user-details').modal();
                };

                $http.get(path)
                .then(function (data) {
                    $http.get(path + '?per_page=' + data.data.total).then(function (fullData) {
                        var counts = [],
                            perPage = 0;

                        $scope.users = new NgTableParams({
                            'count': 3
                        }, {
                            'counts': [],
                            'dataset': fullData.data.data
                        });
                    })
                    .catch(function (e) {
                        console.log(e);
                    });
                })
                .catch(function (e) {
                    console.log(e);
                });
            }]);